@import url('https://fonts.googleapis.com/css?family=Lato');
html {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    background: #EBE9E9;
    background: url('./img/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
}

.mobile-hide {
    display: auto;
}

.mobile-show {
    display: none;
}

#header {
    padding: 0px 15px;
    background: rgba(255, 255, 255, .75);
    box-shadow: 0px 0px 10px #e0e0e0;
    height: 10vh;
}

#header #header_logo {
    max-width: 100%;
    max-height: 100px;
    padding: 10px 0px;
    height: 10vh;
    padding: 15px;
}

#header a,
#header .col-md-8>a {
    color: #666666;
    margin-left: 10px;
}

#header a:hover,
#header .col-md-8>a:hover {
    text-decoration: none;
}

#header #center_seccion {
    text-align: center;
}

#header #right_seccion {
    text-align: right;
    padding-top: 2vh;
}

#header #right_seccion a,
#header #right_seccion .btn {
    color: #ffffff;
    background: rgba(224, 224, 224, .8);
    color: #212529;
    border-color: rgba(224, 224, 224, .5);
}

#header #right_seccion .form-control {
    background: #8db8e3;
}

#header .dropdown-menu.show {
    left: -60px !important;
}

#header .dropdown-item {
    background: rgba(255, 255, 255, 1) !important;
    width: 90%;
}

#header .dropdown-item:hover {
    background: rgba(224, 224, 224, .6) !important;
}

#header #right_seccion .form-inline>* {
    margin-left: 2px;
}

#header #right_seccion .form-inline {
    position: absolute;
    right: 25px;
}

#header #right_seccion .form-inline .form-group ::placeholder {
    color: #ffffff;
}

#header #right_seccion .form-control,
#header #right_seccion .btn {
    border-radius: 0px;
    border: 0px;
}

#home_form {
    padding: 15px;
    background: #e0e0e0;
    background: rgba(224, 224, 224, .8);
}

#home_form label {
    margin-bottom: 0px;
}

#home_pets {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

#home_pets span {
    display: inline-block;
}

#app_screen {
    width: 100%;
    min-height: 70vh;
    background-size: cover;
    background-position: center top;
    padding: 20px 0px;
}

#app_screen #user_info .btn-secondary {
    color: #333333;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    width: 100%;
    text-align: left;
}

#main_app_screen {
    width: 100%;
    min-height: 70vh;
    background-size: cover;
    background-position: center top;
    padding: 20px 0px;
}

#sub_footer_sponsors {
    background-color: #ffffff;
    padding: 15px 0px;
    box-shadow: 0px 0px 10px #e0e0e0;
}

#sub_footer_sponsors .col-md-2 {
    text-align: center;
}

#sub_footer_sponsors img {
    height: 40px;
}

footer {
    background: #54687A;
    height: 17vh;
}

#footer {
    padding: 15px 15px;
    background: #54687A;
    color: #ffffff;
}

#footer a {
    margin-right: 10px;
    color: #ffffff;
}


/* Register.php Style*/

#external_register .btn {
    width: 100%;
}


/* Content*/

#left_bar {
    padding-left: 0px;
    padding-right: 0px;
}

#left_bar #menu_left {
    background: #54687A;
    background: rgba(224, 224, 224, .8);
    padding: 20px;
    border-radius: 7px;
}

#left_bar #menu_left a {
    color: #212529;
}

#home_form form *,
#external_register .btn {
    border-radius: 0px;
    border: none;
}

.dropdown-toggle::after {
    display: none;
}

.btn {
    border-radius: 0px;
}

#profile_banner {
    background: url('./img/profile_banner.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    text-shadow: 0px 0px 15px #000000;
}

#app_screen {
    padding: 0px;
    margin-bottom: 10px;
}

#profile_banner #profile_banner_photo {
    background-size: contain !important;
    height: 120px;
    width: 120px;
    border: 3px solid #ffffff;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#profile_banner>img {
    border: 3px solid #ffffff;
    position: relative;
    top: 135px;
}

#profile_banner>h2 {
    display: block;
}

#app_screen .col-md-8 {
    padding: 0px;
}

#app_screen #new_post {
    background: rgba(224, 224, 224, .8);
    padding: 10px;
    border-radius: 7px;
}

.wall_posts {
    padding: 15px;
    background: rgba(255, 255, 255, .8) !important;
    border: 1px solid rgba(224, 224, 224, .6);
    border-radius: 6px;
    margin-top: 15px;
}

.wall_posts .fas {
    line-height: 1.5;
}

.post_tools {
    display: block;
    min-height: 38px;
    margin-bottom: 10px;
}

#app_screen .col-md-4>#user_info {
    background: rgba(255, 255, 255, .8);
    border: 1px solid rgba(224, 224, 224, .6);
    border-radius: 6px;
    padding: 15px;
}

#app_screen .container .row #left_sidebar {
    padding: 10px;
    background: #fcfcfc;
}


/* ------ MEDIOS */

@media (max-width: 766px) {
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: auto;
    }
    #header {
        height: auto;
    }
    #header #left_seccion {
        order: 1;
        text-align: center;
        padding: 0px 0px;
    }
    #header #left_seccion a {
        font-size: 1.7rem;
        margin: 10px;
    }
    #header #center_seccion {
        order: 0;
        text-align: center;
        padding: 0px 0px;
    }
    #header #header_logo {
        height: 90px;
    }
    #header #right_seccion {
        order: 2;
        padding: 0px 0px;
    }
    #header #right_seccion a {
        display: inherit;
    }
    #main_app_screen {
        padding: 10px 0px;
        height: auto;
    }
    #home_form {
        margin: 15px 15px;
    }
    #home_form form #submit,
    #external_register .btn {
        width: 100%;
        border-radius: 0px;
    }
}

@media (max-height: 850px) {
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: inherit;
    }
    #main_app_screen {
        height: auto;
    }
}

@media (max-width: 990px) {
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: inherit;
    }
    #home_form form #submit,
    #external_register .btn {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .mobile-hide {
        display: none;
    }
    .mobile-show {
        display: inherit;
    }
}